<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guessing Game</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <h1 class="game-name">Guess the number!</h1>
      <p class="range">(Between 1 and 20)</p>
      <button class="btn btn-restart">Restart</button>
      <p class="hidden-number">?</p>
    </header>
    <main>
      <section class="input-side">
        <input type="number" class="input-guess" />
        <button class="btn btn-submit">Submit</button>
      </section>
      <section class="score-side">
        <p class="status-message">Take a guess...</p>
        <p class="score-message">Score: <span class="value-score">20</span></p>
        <p class="highscore-message">
          Highscore: <span class="value-highsore">0</span>
        </p>
      </section>
    </main>
  </body>
</html>
