<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guessing Game</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <button class="btn btn-restart">Restart</button>
        <button class="btn btn-menu">
          <ion-icon class="menu-open" name="menu-outline"></ion-icon>
        </button>
        <p class="range">
          (Between <span class="min-range">1</span> and
          <span class="max-range">20</span>)
        </p>
      </div>
      <menu class="game-settings hidden">
        <h2>Game settings</h2>
        <div class="settings-container">
          <div class="min-guess">
            <p class="min">Min guess:</p>
            <input
              type="number"
              class="input input-value min-value"
              value="1"
            />
          </div>
          <div class="max-guess">
            <p class="max">Max guess:</p>
            <input
              type="number"
              class="input input-value max-value"
              value="20"
            />
          </div>
        </div>
      </menu>
      <h1 class="game-name">Guess the number!</h1>
      <p class="hidden-number">?</p>
    </header>
    <main>
      <section class="input-side">
        <input type="number" class="input input-guess" />
        <button class="btn btn-submit">Submit</button>
      </section>
      <section class="score-side">
        <p class="status message">Take a guess...</p>
        <p class="score message">Score: <span class="value-score">20</span></p>
        <p class="highscore message">
          Highscore: <span class="value-highscore">0</span>
        </p>
      </section>
    </main>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
