/* GLOBAL CONFIGS */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Orbitron', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #212529;
  background-color: #fcccb4;
}

/* HEADER */

header {
  position: relative;
  height: 35vh;
  /* border-bottom: #212529 3px solid; */
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 2.4rem;
  align-items: center;
}

.game-name {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5.2rem;
  text-shadow: 1px 3px #f44444;
  font-weight: 500;
  margin-bottom: 4.8rem;
}

.hidden-number {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  font-size: 7.4rem;
  padding: 1.2rem 2.4rem;
  border: solid 4px #212529;
  background-color: #f55757;
}

.range {
  font-size: 2.4rem;
  padding: 1.2rem 1.6rem;
}

/* MAIN LAYOUT */

main {
  height: 65vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  column-gap: 6.4rem;
}

.input-side {
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score-side {
  max-width: 50rem;
  margin-right: 8rem;
}

/* INPUT SIDE */

.input-guess {
  display: block;
  border: none;
  width: 20rem;
  border: solid 2px #212529;
  font-size: 6.4rem;
  margin-bottom: 2.4rem;
  text-align: center;
  font-family: inherit;
  padding: 1.2rem 2.4rem;
}

.btn {
  border: none;
  font-family: inherit;
  color: inherit;
  background-color: #f55757;
  border: solid 2px #212529;
  padding: 1.2rem 1.6rem;
  border-radius: 4rem;
  cursor: pointer;
  font-size: 2.4rem;
}

.btn:hover,
.btn:active {
  transition: background-color 120ms;
  background-color: #f44444;
}

/* SCORE SIDE */

.message {
  font-size: 3rem;
}

.status {
  margin-bottom: 6.4rem;
  font-weight: 500;
}

.score {
  margin-bottom: 2rem;
}

/*
-- TYPOGRAPHY

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
FONT WEIGHTS

DEFAULT: 400
500
600
700

LINE HEIGHTS
DEFAULT: 1
1.05
1.6
1.8

-- COLORS

PRIMARY

TINTS

SHADES

ACCENTS

GREYS

-- SHADOWS
box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.1);

-- BORDER RADIUS
9px
11px

-- WHITESPACES


*/
